matplotlib
numpy             
pandas             
pymongo            
PyMySQL           
python-dateutil    
requests           
websocket         
websocket-client
PyQt6
psutil
pycryptodome
flask_cors
alive_progress